blueprint.json
{
    "name": "Notion Request Status Automation",
    "flow": [
        {
            "id": 1,
            "module": "notion:watchDatabaseItems",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6031338,
                "watchBy": "database",
                "select": "update",
                "limit": 2,
                "database": "32842f47-ffce-80c2-969b-f0f0d74264ba"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "connection",
                            "data": {
                                "scoped": "true",
                                "connection": "notion3"
                            }
                        },
                        "watchBy": {
                            "label": "Database (Legacy)This can be used only if your database has a single data source."
                        },
                        "select": {
                            "label": "updated time"
                        },
                        "database": {
                            "rpcSearch": {
                                "label": "Requests",
                                "value": "32842f47-ffce-80c2-969b-f0f0d74264ba"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "watchBy",
                        "type": "select",
                        "label": "Watch By",
                        "required": true,
                        "validate": {
                            "enum": [
                                "data_source",
                                "database"
                            ]
                        }
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Trigger By",
                        "required": true,
                        "validate": {
                            "enum": [
                                "create",
                                "update"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "database",
                        "type": "text",
                        "label": "Database ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Database Item ID"
                    },
                    {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                    },
                    {
                        "name": "created_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Created By"
                    },
                    {
                        "name": "last_edited_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Last Edited By"
                    },
                    {
                        "name": "icon",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "emoji",
                                "type": "text",
                                "label": "Emoji"
                            },
                            {
                                "name": "external",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "External"
                            }
                        ],
                        "type": "collection",
                        "label": "Icon"
                    },
                    {
                        "name": "cover",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "external",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "External"
                            }
                        ],
                        "type": "collection",
                        "label": "Cover"
                    },
                    {
                        "name": "parent",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "workspace",
                                "type": "boolean",
                                "label": "Workspace"
                            },
                            {
                                "name": "page_id",
                                "type": "text",
                                "label": "Page ID"
                            },
                            {
                                "name": "database_id",
                                "type": "text",
                                "label": "Database ID"
                            },
                            {
                                "name": "data_source_id",
                                "type": "text",
                                "label": "Data Source ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "in_trash",
                        "type": "boolean",
                        "label": "In Trash"
                    },
                    {
                        "name": "properties",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "people",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "avatar_url",
                                                "type": "text",
                                                "label": "Avatar URL"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "person",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Person"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "People"
                                },
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                },
                                {
                                    "name": "text",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "HREF"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Text"
                                },
                                {
                                    "name": "select",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Select"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                },
                                {
                                    "name": "phone_number",
                                    "type": "text",
                                    "label": "Phone Number"
                                },
                                {
                                    "name": "multi_select",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Multi Select"
                                },
                                {
                                    "name": "date",
                                    "spec": [
                                        {
                                            "name": "start",
                                            "type": "date",
                                            "label": "Start"
                                        },
                                        {
                                            "name": "end",
                                            "type": "date",
                                            "label": "End"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                },
                                {
                                    "name": "checkbox",
                                    "type": "boolean",
                                    "label": "Checkbox"
                                },
                                {
                                    "name": "number",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "files",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Files"
                                },
                                {
                                    "name": "title",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Title"
                                },
                                {
                                    "name": "last_edited_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Last Edited Time"
                                },
                                {
                                    "name": "created_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "last_edited_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "avatar_url",
                                        "type": "text",
                                        "label": "Avatar Url"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "person",
                                        "spec": [
                                            {
                                                "name": "email",
                                                "type": "text",
                                                "label": "Email"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Person"
                                    }
                                ],
                                "type": "collection",
                                "label": "Last Edited By"
                            },
                            {
                                "name": "created_by",
                                "spec": [
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "avatar_url",
                                        "type": "text",
                                        "label": "Avatar Url"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "person",
                                        "spec": [
                                            {
                                                "name": "email",
                                                "type": "text",
                                                "label": "Email"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Person"
                                    }
                                ],
                                "type": "collection",
                                "label": "Created By"
                            },
                            {
                                "name": "formula",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "string",
                                        "type": "text",
                                        "label": "String"
                                    }
                                ],
                                "type": "collection",
                                "label": "Formula"
                            },
                            {
                                "name": "relation",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Relation"
                            },
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            }
                        ],
                        "type": "collection"
                    },
                    "type": "array",
                    "label": "Properties"
                },
                {
                    "name": "url",
                    "type": "text",
                    "label": "URL"
                },
                {
                    "name": "public_url",
                    "type": "text",
                    "label": "Public URL"
                },
                {
                    "name": "properties_value",
                    "label": "Properties Value",
                    "type": "collection",
                    "spec": [
                        {
                            "name": "Owner",
                            "label": "Owner",
                            "type": "array",
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "text",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "link",
                                            "type": "text",
                                            "label": "Link"
                                        }
                                    ],
                                    "label": "Text"
                                },
                                {
                                    "name": "annotations",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "bold",
                                            "type": "boolean",
                                            "label": "Bold"
                                        },
                                        {
                                            "name": "italic",
                                            "type": "boolean",
                                            "label": "Italic"
                                        },
                                        {
                                            "name": "strikethrough",
                                            "type": "boolean",
                                            "label": "Strikethrough"
                                        },
                                        {
                                            "name": "underline",
                                            "type": "boolean",
                                            "label": "Underline"
                                        },
                                        {
                                            "name": "code",
                                            "type": "boolean",
                                            "label": "Code"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "label": "Annotations"
                                },
                                {
                                    "name": "plain_text",
                                    "type": "text",
                                    "label": "Plain Text"
                                },
                                {
                                    "name": "href",
                                    "type": "text",
                                    "label": "Href"
                                }
                            ]
                        },
                        {
                            "name": "Updated_at",
                            "label": "Updated_at",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "start",
                                    "type": "date",
                                    "label": "Start"
                                },
                                {
                                    "name": "end",
                                    "type": "date",
                                    "label": "End"
                                },
                                {
                                    "name": "time_zone",
                                    "type": "text",
                                    "label": "Time Zone"
                                }
                            ]
                        },
                        {
                            "name": "status",
                            "label": "status",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "color",
                                    "type": "text",
                                    "label": "Color"
                                }
                            ]
                        },
                        {
                            "name": "Title",
                            "label": "Title",
                            "type": "array",
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "text",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "link",
                                            "type": "text",
                                            "label": "Link"
                                        }
                                    ],
                                    "label": "Text"
                                },
                                {
                                    "name": "annotations",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "bold",
                                            "type": "boolean",
                                            "label": "Bold"
                                        },
                                        {
                                            "name": "italic",
                                            "type": "boolean",
                                            "label": "Italic"
                                        },
                                        {
                                            "name": "strikethrough",
                                            "type": "boolean",
                                            "label": "Strikethrough"
                                        },
                                        {
                                            "name": "underline",
                                            "type": "boolean",
                                            "label": "Underline"
                                        },
                                        {
                                            "name": "code",
                                            "type": "boolean",
                                            "label": "Code"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "label": "Annotations"
                                },
                                {
                                    "name": "plain_text",
                                    "type": "text",
                                    "label": "Plain Text"
                                },
                                {
                                    "name": "href",
                                    "type": "text",
                                    "label": "Href"
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    },
    {
        "id": 20,
        "module": "google-sheets:filterRows",
        "version": 2,
        "parameters": {
            "__IMTCONN__": 6031375
        },
        "filter": {
            "name": "Status is Done",
            "conditions": [
                [
                    {
                        "a": "{{1.properties_value.status.name}}",
                        "b": "Done",
                        "o": "text:equal"
                    }
                ]
            ]
        },
        "mapper": {
            "from": "drive",
            "valueRenderOption": "FORMATTED_VALUE",
            "dateTimeRenderOption": "FORMATTED_STRING",
            "limit": "1",
            "spreadsheetId": "1O7vcGZqju4q4zFemekH4IKzmsUsponbTpLzUWJWMaug",
            "sheetId": "Sheet1",
            "includesHeaders": true,
            "tableFirstRow": "A1:CZ1",
            "filter": [
                [
                    {
                        "a": "A",
                        "o": "text:equal",
                        "b": "{{1.properties_value.Title[].plain_text}}"
                    },
                    {
                        "a": "C",
                        "o": "text:equal",
                        "b": "Done"
                    }
                ]
            ],
            "sortOrder": "asc"
        },
        "metadata": {
            "designer": {
                "x": 300,
                "y": 0
            },
            "restore": {
                "parameters": {
                    "__IMTCONN__": {
                        "label": "My Google connection (vermashutosh01@gmail.com)",
                        "data": {
                            "scoped": "true",
                            "connection": "google"
                        }
                    }
                },
                "expect": {
                    "from": {
                        "label": "Select from My Drive"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "Automation Log"
                    },
                    "sheetId": {
                        "mode": "chose",
                        "label": "Sheet1"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "tableFirstRow": {
                        "label": "A-CZ"
                    },
                    "orderBy": {
                        "mode": "chose",
                        "label": "Empty"
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    }
                }
            },
            "parameters": [
                {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                }
            ],
            "expect": [
                {
                    "name": "from",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                        "enum": [
                            "drive",
                            "share"
                        ]
                    }
                },
                {
                    "name": "valueRenderOption",
                    "type": "select",
                    "label": "Value render option",
                    "validate": {
                        "enum": [
                            "FORMATTED_VALUE",
                            "UNFORMATTED_VALUE",
                            "FORMULA"
                        ]
                    }
                },
                {
                    "name": "dateTimeRenderOption",
                    "type": "select",
                    "label": "Date and time render option",
                    "validate": {
                        "enum": [
                            "SERIAL_NUMBER",
                            "FORMATTED_STRING"
                        ]
                    }
                },
                {
                    "name": "limit",
                    "type": "uinteger",
                    "label": "Limit"
                },
                {
                    "name": "spreadsheetId",
                    "type": "select",
                    "label": "Spreadsheet Name",
                    "required": true
                },
                {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                },
                {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                        "enum": [
                            true,
                            false
                        ]
                    }
                },
                {
                    "name": "tableFirstRow",
                    "type": "select",
                    "label": "Column range",
                    "required": true,
                    "validate": {
                        "enum": [
                            "A1:Z1",
                            "A1:BZ1",
                            "A1:CZ1",
                            "A1:DZ1",
                            "A1:MZ1",
                            "A1:ZZ1",
                            "A1:AZZ1",
                            "A1:BZZ1",
                            "A1:CZZ1",
                            "A1:DZZ1",
                            "A1:MZZ1",
                            "A1:ZZZ1"
                        ]
                    }
                },
                {
                    "name": "filter",
                    "type": "filter",
                    "label": "Filter",
                    "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                },
                {
                    "name": "orderBy",
                    "type": "select",
                    "label": "Order by"
                },
                {
                    "name": "sortOrder",
                    "type": "select",
                    "label": "Sort order",
                    "validate": {
                        "enum": [
                            "asc",
                            "desc"
                        ]
                    }
                }
            ],
            "interface": [
                {
                    "name": "__ROW_NUMBER__",
                    "label": "Row number",
                    "type": "number"
                },
                {
                    "name": "__SPREADSHEET_ID__",
                    "label": "Spreadsheet ID",
                    "type": "text"
                },
                {
                    "name": "__SHEET__",
                    "label": "Sheet",
                    "type": "text"
                },
                {
                    "name": "0",
                    "label": "Title (A)",
                    "type": "text"
                },
                {
                    "name": "1",
                    "label": "Owner (B)",
                    "type": "text"
                },
                {
                    "name": "2",
                    "label": "Status (C)",
                    "type": "text"
                },
                {
                    "name": "3",
                    "label": "Timestamp (D)",
                    "type": "text"
                },
                {
                    "name": "4",
                    "label": "(E)",
                    "type": "text"
                },
                {
                    "name": "5",
                    "label": "(F)",
                    "type": "text"
                },
                {
                    "name": "6",
                    "label": "(G)",
                    "type": "text"
                },
                {
                    "name": "7",
                    "label": "(H)",
                    "type": "text"
                },
                {
                    "name": "8",
                    "label": "(I)",
                    "type": "text"
                },
                {
                    "name": "9",
                    "label": "(J)",
                    "type": "text"
                },
                {
                    "name": "10",
                    "label": "(K)",
                    "type": "text"
                },
                {
                    "name": "11",
                    "label": "(L)",
                    "type": "text"
                },
                {
                    "name": "12",
                    "label": "(M)",
                    "type": "text"
                },
                {
                    "name": "13",
                    "label": "(N)",
                    "type": "text"
                },
                {
                    "name": "14",
                    "label": "(O)",
                    "type": "text"
                },
                {
                    "name": "15",
                    "label": "(P)",
                    "type": "text"
                },
                {
                    "name": "16",
                    "label": "(Q)",
                    "type": "text"
                },
                {
                    "name": "17",
                    "label": "(R)",
                    "type": "text"
                },
                {
                    "name": "18",
                    "label": "(S)",
                    "type": "text"
                },
                {
                    "name": "19",
                    "label": "(T)",
                    "type": "text"
                },
                {
                    "name": "20",
                    "label": "(U)",
                    "type": "text"
                },
                {
                    "name": "21",
                    "label": "(V)",
                    "type": "text"
                },
                {
                    "name": "22",
                    "label": "(W)",
                    "type": "text"
                },
                {
                    "name": "23",
                    "label": "(X)",
                    "type": "text"
                },
                {
                    "name": "24",
                    "label": "(Y)",
                    "type": "text"
                },
                {
                    "name": "25",
                    "label": "(Z)",
                    "type": "text"
                },
                {
                    "name": "26",
                    "label": "(AA)",
                    "type": "text"
                },
                {
                    "name": "27",
                    "label": "(AB)",
                    "type": "text"
                },
                {
                    "name": "28",
                    "label": "(AC)",
                    "type": "text"
                },
                {
                    "name": "29",
                    "label": "(AD)",
                    "type": "text"
                },
                {
                    "name": "30",
                    "label": "(AE)",
                    "type": "text"
                },
                {
                    "name": "31",
                    "label": "(AF)",
                    "type": "text"
                },
                {
                    "name": "32",
                    "label": "(AG)",
                    "type": "text"
                },
                {
                    "name": "33",
                    "label": "(AH)",
                    "type": "text"
                },
                {
                    "name": "34",
                    "label": "(AI)",
                    "type": "text"
                },
                {
                    "name": "35",
                    "label": "(AJ)",
                    "type": "text"
                },
                {
                    "name": "36",
                    "label": "(AK)",
                    "type": "text"
                },
                {
                    "name": "37",
                    "label": "(AL)",
                    "type": "text"
                },
                {
                    "name": "38",
                    "label": "(AM)",
                    "type": "text"
                },
                {
                    "name": "39",
                    "label": "(AN)",
                    "type": "text"
                },
                {
                    "name": "40",
                    "label": "(AO)",
                    "type": "text"
                },
                {
                    "name": "41",
                    "label": "(AP)",
                    "type": "text"
                },
                {
                    "name": "42",
                    "label": "(AQ)",
                    "type": "text"
                },
                {
                    "name": "43",
                    "label": "(AR)",
                    "type": "text"
                },
                {
                    "name": "44",
                    "label": "(AS)",
                    "type": "text"
                },
                {
                    "name": "45",
                    "label": "(AT)",
                    "type": "text"
                },
                {
                    "name": "46",
                    "label": "(AU)",
                    "type": "text"
                },
                {
                    "name": "47",
                    "label": "(AV)",
                    "type": "text"
                },
                {
                    "name": "48",
                    "label": "(AW)",
                    "type": "text"
                },
                {
                    "name": "49",
                    "label": "(AX)",
                    "type": "text"
                },
                {
                    "name": "50",
                    "label": "(AY)",
                    "type": "text"
                },
                {
                    "name": "51",
                    "label": "(AZ)",
                    "type": "text"
                },
                {
                    "name": "52",
                    "label": "(BA)",
                    "type": "text"
                },
                {
                    "name": "53",
                    "label": "(BB)",
                    "type": "text"
                },
                {
                    "name": "54",
                    "label": "(BC)",
                    "type": "text"
                },
                {
                    "name": "55",
                    "label": "(BD)",
                    "type": "text"
                },
                {
                    "name": "56",
                    "label": "(BE)",
                    "type": "text"
                },
                {
                    "name": "57",
                    "label": "(BF)",
                    "type": "text"
                },
                {
                    "name": "58",
                    "label": "(BG)",
                    "type": "text"
                },
                {
                    "name": "59",
                    "label": "(BH)",
                    "type": "text"
                },
                {
                    "name": "60",
                    "label": "(BI)",
                    "type": "text"
                },
                {
                    "name": "61",
                    "label": "(BJ)",
                    "type": "text"
                },
                {
                    "name": "62",
                    "label": "(BK)",
                    "type": "text"
                },
                {
                    "name": "63",
                    "label": "(BL)",
                    "type": "text"
                },
                {
                    "name": "64",
                    "label": "(BM)",
                    "type": "text"
                },
                {
                    "name": "65",
                    "label": "(BN)",
                    "type": "text"
                },
                {
                    "name": "66",
                    "label": "(BO)",
                    "type": "text"
                },
                {
                    "name": "67",
                    "label": "(BP)",
                    "type": "text"
                },
                {
                    "name": "68",
                    "label": "(BQ)",
                    "type": "text"
                },
                {
                    "name": "69",
                    "label": "(BR)",
                    "type": "text"
                },
                {
                    "name": "70",
                    "label": "(BS)",
                    "type": "text"
                },
                {
                    "name": "71",
                    "label": "(BT)",
                    "type": "text"
                },
                {
                    "name": "72",
                    "label": "(BU)",
                    "type": "text"
                },
                {
                    "name": "73",
                    "label": "(BV)",
                    "type": "text"
                },
                {
                    "name": "74",
                    "label": "(BW)",
                    "type": "text"
                },
                {
                    "name": "75",
                    "label": "(BX)",
                    "type": "text"
                },
                {
                    "name": "76",
                    "label": "(BY)",
                    "type": "text"
                },
                {
                    "name": "77",
                    "label": "(BZ)",
                    "type": "text"
                },
                {
                    "name": "78",
                    "label": "(CA)",
                    "type": "text"
                },
                {
                    "name": "79",
                    "label": "(CB)",
                    "type": "text"
                },
                {
                    "name": "80",
                    "label": "(CC)",
                    "type": "text"
                },
                {
                    "name": "81",
                    "label": "(CD)",
                    "type": "text"
                },
                {
                    "name": "82",
                    "label": "(CE)",
                    "type": "text"
                },
                {
                    "name": "83",
                    "label": "(CF)",
                    "type": "text"
                },
                {
                    "name": "84",
                    "label": "(CG)",
                    "type": "text"
                },
                {
                    "name": "85",
                    "label": "(CH)",
                    "type": "text"
                },
                {
                    "name": "86",
                    "label": "(CI)",
                    "type": "text"
                },
                {
                    "name": "87",
                    "label": "(CJ)",
                    "type": "text"
                },
                {
                    "name": "88",
                    "label": "(CK)",
                    "type": "text"
                },
                {
                    "name": "89",
                    "label": "(CL)",
                    "type": "text"
                },
                {
                    "name": "90",
                    "label": "(CM)",
                    "type": "text"
                },
                {
                    "name": "91",
                    "label": "(CN)",
                    "type": "text"
                },
                {
                    "name": "92",
                    "label": "(CO)",
                    "type": "text"
                },
                {
                    "name": "93",
                    "label": "(CP)",
                    "type": "text"
                },
                {
                    "name": "94",
                    "label": "(CQ)",
                    "type": "text"
                },
                {
                    "name": "95",
                    "label": "(CR)",
                    "type": "text"
                },
                {
                    "name": "96",
                    "label": "(CS)",
                    "type": "text"
                },
                {
                    "name": "97",
                    "label": "(CT)",
                    "type": "text"
                },
                {
                    "name": "98",
                    "label": "(CU)",
                    "type": "text"
                },
                {
                    "name": "99",
                    "label": "(CV)",
                    "type": "text"
                },
                {
                    "name": "100",
                    "label": "(CW)",
                    "type": "text"
                },
                {
                    "name": "101",
                    "label": "(CX)",
                    "type": "text"
                },
                {
                    "name": "102",
                    "label": "(CY)",
                    "type": "text"
                },
                {
                    "name": "103",
                    "label": "(CZ)",
                    "type": "text"
                }
            ]
        }
    },
    {
        "id": 25,
        "module": "builtin:BasicAggregator",
        "version": 1,
        "parameters": {
            "feeder": 20
        },
        "mapper": {},
        "metadata": {
            "designer": {
                "x": 600,
                "y": 0
            },
            "restore": {
                "extra": {
                    "feeder": {
                        "label": "Google Sheets - Search Rows [20]"
                    },
                    "target": {
                        "label": "Custom"
                    }
                }
            }
        }
    },
    {
        "id": 30,
        "module": "builtin:BasicRouter",
        "version": 1,
        "mapper": null,
        "metadata": {
            "designer": {
                "x": 900,
                "y": 0
            }
        },
        "routes": [
            {
                "flow": [
                    {
                        "id": 4,
                        "module": "slack:CreateMessage",
                        "version": 4,
                        "parameters": {
                            "__IMTCONN__": 6031389
                        },
                        "filter": {
                            "name": "Not a Duplicate",
                            "conditions": [
                                [
                                    {
                                        "a": "{{length(25.array)}}",
                                        "b": "0",
                                        "o": "text:equal"
                                    }
                                ]
                            ]
                        },
                        "mapper": {
                            "channelWType": "list",
                            "text": "✅ *Request completed*\n*Title:* {{ifempty(1.properties_value.Title[].plain_text; \"(No title)\")}}\n*Owner:* {{ifempty(1.properties_value.Owner[].plain_text; \"(Unassigned)\")}}\n*Completed at:* {{ifempty(1.properties_value.Updated_at.start; formatDate(now; \"YYYY-MM-DD\"))}}",
                            "parse": false,
                            "mrkdwn": true,
                            "channelType": "public",
                            "channel": "C0AMZ4P13AM"
                        },
                        "metadata": {
                            "designer": {
                                "x": 1200,
                                "y": -150
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "label": "My Slack (bot) connection (automationtes-evg3251.slack.com - make)",
                                        "data": {
                                            "scoped": "true",
                                            "connection": "slack3"
                                        }
                                    }
                                },
                                "expect": {
                                    "channelWType": {
                                        "label": "Select from the list"
                                    },
                                    "reply_broadcast": {
                                        "mode": "chose"
                                    },
                                    "link_names": {
                                        "mode": "chose"
                                    },
                                    "parse": {
                                        "mode": "chose"
                                    },
                                    "mrkdwn": {
                                        "mode": "chose"
                                    },
                                    "unfurl_links": {
                                        "mode": "chose"
                                    },
                                    "unfurl_media": {
                                        "mode": "chose"
                                    },
                                    "channelType": {
                                        "label": "Public channel"
                                    },
                                    "channel": {
                                        "mode": "chose",
                                        "label": "automation-test"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:slack2,slack3",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "channelWType",
                                    "type": "select",
                                    "label": "Enter a channel ID or name",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "manualy",
                                            "list"
                                        ]
                                    }
                                },
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "blocks",
                                    "type": "text",
                                    "label": "Blocks"
                                },
                                {
                                    "name": "thread_ts",
                                    "type": "text",
                                    "label": "Thread message ID (time stamp)"
                                },
                                {
                                    "name": "reply_broadcast",
                                    "type": "boolean",
                                    "label": "Reply broadcast"
                                },
                                {
                                    "name": "link_names",
                                    "type": "boolean",
                                    "label": "Link names"
                                },
                                {
                                    "name": "parse",
                                    "type": "boolean",
                                    "label": "Parse message text"
                                },
                                {
                                    "name": "mrkdwn",
                                    "type": "boolean",
                                    "label": "Use markdown"
                                },
                                {
                                    "name": "unfurl_links",
                                    "type": "boolean",
                                    "label": "Unfurl primarily text-based content"
                                },
                                {
                                    "name": "unfurl_media",
                                    "type": "boolean",
                                    "label": "Unfurl media content"
                                },
                                {
                                    "name": "icon_emoji",
                                    "type": "text",
                                    "label": "Icon emoji"
                                },
                                {
                                    "name": "icon_url",
                                    "type": "url",
                                    "label": "Icon url"
                                },
                                {
                                    "name": "username",
                                    "type": "text",
                                    "label": "User name"
                                },
                                {
                                    "name": "channelType",
                                    "type": "select",
                                    "label": "Channel type",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "public",
                                            "private",
                                            "im",
                                            "mpim"
                                        ]
                                    }
                                },
                                {
                                    "name": "channel",
                                    "type": "select",
                                    "label": "Public channel",
                                    "required": true
                                }
                            ]
                        }
                    },
                    {
                        "id": 10,
                        "module": "google-sheets:addRow",
                        "version": 2,
                        "parameters": {
                            "__IMTCONN__": 6031375
                        },
                        "mapper": {
                            "mode": "fromAll",
                            "insertUnformatted": false,
                            "valueInputOption": "USER_ENTERED",
                            "insertDataOption": "INSERT_ROWS",
                            "spreadsheetId": "1O7vcGZqju4q4zFemekH4IKzmsUsponbTpLzUWJWMaug",
                            "sheetId": "Sheet1",
                            "includesHeaders": true,
                            "useColumnHeaders": true,
                            "values": {
                                "Title": "{{ifempty(1.properties_value.Title[].plain_text; \"(No title)\")}}",
                                "Owner": "{{ifempty(1.properties_value.Owner[].plain_text; \"(Unassigned)\")}}",
                                "Status": "{{ifempty(1.properties_value.status.name; \"Done\")}}",
                                "Timestamp": "{{ifempty(1.properties_value.Updated_at.start; formatDate(now; \"YYYY-MM-DD HH:mm:ss\"))}}"
                            }
                        },
                        "metadata": {
                            "designer": {
                                "x": 1500,
                                "y": -150
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "label": "My Google connection (vermashutosh01@gmail.com)",
                                        "data": {
                                            "scoped": "true",
                                            "connection": "google"
                                        }
                                    }
                                },
                                "expect": {
                                    "mode": {
                                        "label": "Select from all"
                                    },
                                    "insertUnformatted": {
                                        "mode": "chose"
                                    },
                                    "valueInputOption": {
                                        "mode": "chose",
                                        "label": "User entered"
                                    },
                                    "insertDataOption": {
                                        "mode": "chose",
                                        "label": "Insert rows"
                                    },
                                    "sheetId": {
                                        "mode": "chose",
                                        "label": "Sheet1"
                                    },
                                    "includesHeaders": {
                                        "label": "Yes"
                                    },
                                    "useColumnHeaders": {
                                        "label": "Yes"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:google",
                                    "label": "Connection",
                                    "required": true
                                }
                            ]
                        }
                    }
                ]
            },
            {
                "flow": [
                    {
                        "id": 41,
                        "module": "util:SetVariable2",
                        "version": 1,
                        "parameters": {},
                        "mapper": {
                            "name": "duplicate_status",
                            "scope": "roundtrip",
                            "value": "Duplicate skipped"
                        },
                        "metadata": {
                            "designer": {
                                "x": 1200,
                                "y": 150
                            },
                            "restore": {
                                "expect": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                }
                            },
                            "expect": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Variable name",
                                    "required": true
                                },
                                {
                                    "name": "scope",
                                    "type": "select",
                                    "label": "Variable lifetime",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "roundtrip",
                                            "execution"
                                        ]
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "any",
                                    "label": "Variable value"
                                }
                            ],
                            "interface": [
                                {
                                    "name": "duplicate_status",
                                    "label": "duplicate_status",
                                    "type": "any"
                                }
                            ]
                        }
                    }
                ]
            }
        ]
    }
],
"metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
        "roundtrips": 1,
        "maxErrors": 3,
        "autoCommit": true,
        "autoCommitTriggerLast": true,
        "sequential": true,
        "slots": null,
        "confidential": false,
        "dataloss": false,
        "dlq": false,
        "freshVariables": false
    },
    "designer": {
        "orphans": []
    },
    "zone": "eu1.make.com",
    "notes": []
}
}
